html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui;
  font-size: 1rem;
  color: #212529;
}

.vt-navbar {
  display: flex;
  align-items: center;
  background-color: #212529;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

.vt-navbar a {
  color: white;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
}

.vt-navbar a.vt-brand {
  margin-right: 0.5rem;
}

.vt-navbar a:hover {
  color: grey;
}

.vt-navbar a.pull-right {
  margin-left: auto;
}

.vt-github-logo {
  fill: white;
}

.vt-section {
  padding-block: 5rem;
}

.vt-section-title {
  text-align: center;
}

.vt-section-content {
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
